.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Fichiers de Build et de Sortie (Kotlin/Gradle) ###
/target

### Fichiers de Configuration de l'IDE (.idea/) ###
# IGNORE TOUT le dossier .idea/ par défaut (déjà fait ci-dessus)
# ...sauf les fichiers essentiels pour l'uniformité du projet :
!/.idea/misc.xml
!/.idea/modules.xml
!/.idea/gradle.xml
!/.idea/compiler.xml
!/.idea/runConfigurations/

### Dépendances et Environnements Virtuels ###
# Généralement pour les autres langages, mais bon à avoir
/venv
/node_modules

### Fichiers de Log et de Données Temporaires ###
*.log
*.hprof
/tmp
*.zip
*.tar.gz